:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

mat-card {
  width: 520px;
}

mat-form-field {
  display: block;
}

.preview {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 25px;
}

.bottom-btns {
  display: flex;
  margin-top: 25px;
}

.cancel-btn {
  margin-right: 10px;
}

button[type="submit"] {
  margin-left: auto;
}
