:host {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: -35px;
}

mat-card {
  width: 520px;
  margin: 0 auto 35px;
}

.user-avatar {
  background-size: cover;
}

.likes-dislikes {
  margin-left: auto;
}

.likes-dislikes-count {
  display: inline-block;
  margin-right: 4px;
}

.preview {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
