@import "~@angular/material/theming";
@import "app/auth/login/login.component.theme";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include mat-core();

$theme-primary: mat-palette($mat-light-blue);
$theme-accent: mat-palette($mat-amber);
$theme-warn: mat-palette($mat-red);

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

@include angular-material-theme($theme);
@include login-theme($theme);


